[Desktop Entry]
Version=1.0
Type=Application
Name=Nvidia Fan Control
Comment=GUI fan controller for Nvidia GPU
Exec=nvidiafancontrol
Icon=nvidiafancontrol
Terminal=false
Categories=GTK;GNOME;Utility;
StartupNotify=true
StartupWMClass=com.github.tudo75.nvidia-fan-control-gui-linux
